name: CI - Build and Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive


      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libfreetype6-dev

      - name: Clean build directory
        run: rm -rf build

      - name: Configure CMake
        run: cmake -Bbuild -H.

      - name: Build tests
        run: cmake --build build --target aroma_tests

      - name: Run tests
        run: ./build/tests/aroma_tests
